@inherits ComponentBase
<h3>Bonjour @User,  @infoPos </h3>
@if(currentQuestion != null)
{
    <p>@currentQuestion.Question</p>
    <button disabled="@IsDisabled" @onclick='()=>Answer("oui")'>Oui</button>
    <button disabled="@IsDisabled" @onclick='()=>Answer("non")'>Non</button>
}
